%flex-container-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-container($jc: center, $ai: center) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
}
