.container {
  background-color: bisque;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.logo,
.userImg {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.linksList {
  list-style: none;
  display: flex;
  gap: 10px;
  padding: 0;
}

.linksList a {
  text-decoration: none;
  color: inherit;
}
